<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>ACGSH</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/ng-embed.min.css">
    <!-- Custom styles for this template -->
    <link href="css/main.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-dark navbar-fixed-top bg-inverse">
      <a class="navbar-brand" href="index.html">ACGSH</a>
      <div id="navbar">
        <nav class="nav navbar-nav pull-xs-left">
          <a class="nav-item nav-link" href="publishers.html">已登記資源發佈者</a>
          <a class="nav-item nav-link" href="newpub.html">登記新發佈者</a>
          <a class="nav-item nav-link" href="http://github.com/acgshare/acgsh">Open Source</a>
          <a class="nav-item nav-link" href="#">Help</a>
        </nav>
      </div>
    </nav>

    <div class="container-fluid" ng-app="acgshApp" >
      <div class="row">
        <div class=" col-lg-12  main">
          <h1 class="page-header"></h1>


          <div class="row placeholders">

          </div>

          <h2>去中心化的ACG資源發佈方式，詳見↑上方Help鏈接</h2>
          <div class="table-responsive"   ng-controller="customersCtrl">
            <table class="table table-striped table-hover table-sm table-bordered ctab"  >
              <thead class="thead-default">
                <tr>
                  <th class="text-lg-center">張貼日期</th>
                  <th class="text-lg-center">分類</th>
                  <th class="text-lg-center">標題</th>
                  <th class="text-lg-center">磁鏈</th>
                  <th class="text-lg-center">大小</th>
                  <th class="text-lg-center">發佈人</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="post in posts">
                  <td class="text-lg-center">{{post.time*1000 | date:'yyyy/MM/dd HH:mm'}}</td>
                  <td class="text-lg-center">{{post.category}}</td>
                  <td><div><a id="anchor{{$index}}" href="" ng-click="setShowDesc($event,$index,post)">{{post.title}}</a></div>
                    <div class="description " ng-show="showDesc[post.n+post.k]" class="animate-show">
                      <br/>
                      <div><i class="fa fa-magnet fa-lg">&nbsp;</i><a href="{{post.magnet}}&tr=http%3a%2f%2fmgtracker.org%3a2710%2fannounce&tr=http%3a%2f%2ftracker.openbittorrent.com%3a80%2fannounce&tr=http%3a%2f%2ftracker.publicbt.com%3a80%2fannounce&tr=http%3a%2f%2fopen.acgtracker.com%3a1096%2fannounce&tr=udp%3a%2f%2fmgtracker.org%3a2710%2fannounce">{{post.magnet}}</a></div>

                      <blockquote ng-repeat="reply in post.replies | orderBy:'time'" class="blockquote">
                        <!--<p class="m-b-0 content" ng-bind-html="reply.msg|linky"></p>-->
                        <ng-embed class="m-b-0 content" embed-data="reply.msg" embed-options="options"></ng-embed>
                        <footer class="blockquote-footer">{{reply.time*1000 | date:'yyyy/MM/dd HH:mm'}}</footer>
                      </blockquote>
                      <br/>
                    </div>
                  </td>
                  <td class="text-lg-center"><a href="{{post.magnet}}&tr=http%3a%2f%2fmgtracker.org%3a2710%2fannounce&tr=http%3a%2f%2ftracker.openbittorrent.com%3a80%2fannounce&tr=http%3a%2f%2ftracker.publicbt.com%3a80%2fannounce&tr=http%3a%2f%2fopen.acgtracker.com%3a1096%2fannounce&tr=udp%3a%2f%2fmgtracker.org%3a2710%2fannounce"><i class="fa fa-magnet fa-lg"></i></a></td>
                  <td class="text-lg-center">{{post.size | bytes:1}}</td>
                  <td class="text-lg-center">{{post.n}}</td>

                </tr>

              </tbody>
            </table>
            <div class="nav_title"  >
              <a href="" ng-click="prevPage()">上一頁</a>
              第 {{currentPage+1}} 頁
              <a href="" ng-click="nextPage()">下一頁</a>
            </div>
          </div>
        </div>
      </div>
    </div>

<!--    <script src="js/angular.js"></script>
    <script src="js/angular-animate.js"></script>
    <script src="js/angular-sanitize.js"></script>-->
   <!-- <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular-sanitize.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular-animate.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>

    <script src="js/ng-embed.min.js"></script>

    <script src="js/main.js"></script>
  </body>
</html>
